.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    border: 1px solid wheat;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);

    background-color: steelblue;
    border-radius: 10px;

}

.foot p {
    font-size: 1.5rem;
    color: wheat;
    transition:all 0.5s ease-in-out;
    cursor: pointer;
}

.foot p:hover {
    color: white;
}